{{/*
  Check if optimized image exists for a given source path.
  
  Input: dict with:
    - source: source path (e.g., "posts/my-post/image.jpg")
    - width: (optional) width to check, default 800
  OR just a string for backward compatibility
  
  Output: true if optimized images exist, false otherwise
*/}}

{{- $source := "" -}}
{{- $width := 800 -}}

{{- if reflect.IsMap . -}}
  {{- $source = .source -}}
  {{- with .width }}{{ $width = . }}{{ end -}}
{{- else -}}
  {{- $source = . -}}
{{- end -}}

{{/* Handle /img/ prefix - these are stored directly in optimized root */}}
{{- $cleanSource := $source -}}
{{- if strings.HasPrefix $source "/img/" -}}
  {{- $cleanSource = strings.TrimPrefix "/img/" $source -}}
{{- end -}}

{{/* Load manifest to get hash */}}
{{- $manifestPath := "static/img/optimized/.manifest.json" -}}
{{- $manifest := dict -}}
{{- if fileExists $manifestPath -}}
  {{- $manifestContent := readFile $manifestPath -}}
  {{- $manifest = $manifestContent | unmarshal -}}
{{- end -}}

{{/* Find source path in manifest */}}
{{- $sourceKey := "" -}}
{{- $hash := "" -}}
{{- $contentPath := printf "content/%s" $cleanSource -}}
{{- range $key, $value := $manifest.processed -}}
  {{- if or (eq $key $source) (eq $key $contentPath) (eq $key (printf "assets/img/%s" $cleanSource)) -}}
    {{- $sourceKey = $key -}}
    {{- $hash = substr $value.hash 0 8 -}}
  {{- end -}}
{{- end -}}

{{- $exists := false -}}
{{- if $hash -}}
  {{- $dir := path.Dir $cleanSource -}}
  {{- $testPath := "" -}}
  {{- if eq $dir "." -}}
    {{/* File is in root (e.g., /img/_DSC0572.jpg) */}}
    {{- $testPath = printf "static/img/optimized/%s-%dw-%s%s" (path.BaseName $cleanSource) $width $hash (path.Ext $cleanSource) -}}
  {{- else -}}
    {{- $testPath = printf "static/img/optimized/%s/%s-%dw-%s%s" $dir (path.BaseName $cleanSource) $width $hash (path.Ext $cleanSource) -}}
  {{- end -}}
  {{- $exists = fileExists $testPath -}}
{{- end -}}
{{- return $exists -}}
