{{/*
  Check if optimized image exists for a given source path.
  
  Input: dict with:
    - source: source path (e.g., "posts/my-post/image.jpg")
    - width: (optional) width to check, default 800
  OR just a string for backward compatibility
  
  Output: true if optimized images exist, false otherwise
*/}}

{{- $source := "" -}}
{{- $width := 800 -}}

{{- if reflect.IsMap . -}}
  {{- $source = .source -}}
  {{- with .width }}{{ $width = . }}{{ end -}}
{{- else -}}
  {{- $source = . -}}
{{- end -}}

{{/* Handle /img/ prefix - these are stored directly in optimized root */}}
{{- $cleanSource := $source -}}
{{- if strings.HasPrefix $source "/img/" -}}
  {{- $cleanSource = strings.TrimPrefix "/img/" $source -}}
{{- end -}}

{{- $dir := path.Dir $cleanSource -}}
{{- $testPath := "" -}}
{{- if eq $dir "." -}}
  {{/* File is in root (e.g., /img/_DSC0572.jpg) */}}
  {{- $testPath = printf "static/img/optimized/%s-%dw%s" (path.BaseName $cleanSource) $width (path.Ext $cleanSource) -}}
{{- else -}}
  {{- $testPath = printf "static/img/optimized/%s/%s-%dw%s" $dir (path.BaseName $cleanSource) $width (path.Ext $cleanSource) -}}
{{- end -}}
{{- $exists := fileExists $testPath -}}
{{- return $exists -}}
