/* ========================================
   Header Menu
   ======================================== */

/* Hide text title */
.main-menu > a {
    display: none !important;
}

/* ========================================
   Article
   ======================================== */

article .prose {
    line-height: 1.8 !important;
}

.article-content {
    margin-bottom: 40px !important;
    text-align: justify !important;
}

/* ========================================
   Article Header
   ======================================== */

#single_header {
    max-width: none !important;
    width: 100% !important;
    text-align: justify !important;
}

#single_header h1 {
    line-height: 1.5 !important;
    word-break: auto-phrase !important;
}

#single_header .author {
    width: calc(100% - 260px) !important;
    max-width: 655px !important;
}
@media (max-width: 1023px) {
    #single_header .author {
        width: 100% !important;
    }
}

/* ========================================
   Article Shortcode
   ======================================== */

article section article {
    margin-bottom: 40px !important;
}


/* ========================================
   Social Icons
   ======================================== */

/* Left align social share buttons above Related section */
article section.flex.flex-row.flex-wrap.justify-center.pt-4.text-xl {
    margin-bottom: 80px !important;
    justify-content: flex-start !important;
}

/* Make social icons background transparent */
article section.flex.flex-row.flex-wrap a.m-1.rounded {
    background-color: transparent !important;
}
article section.flex.flex-row.flex-wrap a.m-1.rounded:hover {
    background-color: rgb(var(--color-primary-500)) !important;
}
.dark article section.flex.flex-row.flex-wrap a.m-1.rounded:hover {
    background-color: rgb(var(--color-primary-400)) !important;
}

/* ========================================
   Related
   ======================================== */

/* Hide excerpts */
article .prose.dark\:prose-invert.py-1 {
    display: none !important;
}

/* ========================================
   Article Footer Navigation
   ======================================== */

/* Make navigation links same width as Related cards */
article footer {
    max-width: none !important;
    width: 100% !important;
}

/* Hide navigadation date */
article footer time {
    display: none !important;
}

/* ========================================
   Browser Compatibility Fixes
   ======================================== */

/* Fix: Arc shows "Skip to main content" */
a[href="#main-content"] {
    position: absolute !important;
    left: -10000px !important;
    top: auto !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
}

/* Fix: Arc doesn't enable "backdrop-filter" */
.backdrop-blur-2xl {
    -webkit-backdrop-filter: blur(24px) !important;
    backdrop-filter: blur(24px) !important;
}

/* Fix: one-light color scheme background isn't enabled */
.bg-neutral {
    background-color: rgb(var(--color-neutral-50)) !important;
}
.dark .bg-neutral {
    background-color: rgb(var(--color-neutral-700)) !important;
}
